<div>
    <h2>Login</h2>
    <form action="/login" method="POST">
        <div>
            <input type="text" name="username" placeholder="Enter Username">
            <label>Username</label>
        </div>
        <div>
            <input type="password" name="password" placeholder="··········">
            <label>Password</label>
        </div>
        <input type="submit" value="Submit">
        {{!-- <button><a href="/auth/facebook">Facebook</a></button> --}}
    </form>
</div>