

<div>
  <h2>Create Account</h2>
  <form action="/signup" method="POST">
    <div>
      <input type="text" name="username" placeholder="Enter Username">
      <label>Username</label>
    </div>
    <div>
      <input type="text" name="email" placeholder="Enter Email">
      <label>Email</label>
    </div>
    <div>
      <input type="password" name="password" placeholder="··········">
      <label>Password</label>
    </div>
    <input type="submit" value="Submit">
    {{!-- <button><a href="/auth/facebook">Facebook</a></button> --}}
  </form>
</div>