<h1>new post</h1>
<form action="/profile/addPost" method="post">
    <label for="image">image </label>
    <input type="text" name="image" id="image">
    <label for="description">Description: </label>
    <input type="text" name="description" id="description">
    <button type="submit">Post</button>
</form>
