<div class="profile-edit">
  <div>
    <h2>Update your profile</h2>
      <form action="/profile/edit" method="post" enctype="multipart/form-data">
        <label>Occupation:</label>
        <input type="text" name="bio">

        <label>Birthday:</label>
        <input type="text" name="dob">

        <label>Country:</label>
        <input type="text" name="origin">
  
        <label>Photo:</label>
        <input type="file" name="photo">
  
        <input type="submit" value="SAVE">
      </form>
  </div>
</div>