<div class="text"><a href="/api/picDay">Picture of the day</a></div>

<div class="text"><a href="/api/rovers">Rovers' pictures</a></div>
<div class="text"><a href="/api/imagesByName">Search in NASA images by theme</a></div>
<div class="text"><a href="/api/imagesByDate">Search in NASA images by date</a></div>
<div class="text"><a href="/api/astroids">Astroides passing Earth</a></div>
<div class="text"><a href="/api/live">Watch Live nasa tv</a></div>