<style>
        * {
                text-transform: uppercase;
                line-height: 1em;
                letter-spacing: 0.2rem;
        }
</style>

<ul class="cb-slideshow">
        <li></li>
        <li></li>
</ul>
<div class="container-fluid " style="height: 100vh;">
        <div class="cb-slideshow-text-container">
                <div class="tm-content col-xl-7 col-sm-8 col-xs-8 ml-auto section">
                        <section class="user scifiUI">
                                <div class="user_options-container">
                                        <div class="user_options-text"
                                                style="box-shadow: 0 0px 30px rgba(28, 51, 198, 0.9);">
                                                <div class="user_options-unregistered">
                                                        <h2 class="user_unregistered-title childsign">
                                                                Don't have an account?
                                                        </h2>
                                                        <p class="user_unregistered-text childsign">
                                                                Signup to explore the limitless
                                                                content of NASA space imagery and data!
                                                        </p>
                                                        <button class="user_unregistered-signup childsign"
                                                                id="signup-button">
                                                                Sign up
                                                        </button>
                                                </div>

                                                <div class="user_options-registered">
                                                        <h2 class="user_registered-title childlog">
                                                                Have an account?
                                                        </h2>
                                                        <p class="user_registered-text childlog">
                                                                Login to access your profile and add share
                                                                agnificent space photos with your friends.
                                                        </p>
                                                        <button class="user_registered-login childlog"
                                                                id="login-button">
                                                                Login
                                                        </button>
                                                </div>
                                        </div>

                                        <div class="user_options-forms" id="user_options-forms">
                                                <div class="user_forms-login">
                                                        <h2 class="forms_title">Login</h2>
                                                        <form class="forms_form" action="/login" method="POST"
                                                                novalidate>
                                                                <fieldset class="forms_fieldset">
                                                                        <div class="forms_field">
                                                                                <input type="text"
                                                                                        placeholder="user name"
                                                                                        name="username"
                                                                                        class="forms_field-input"
                                                                                        required />
                                                                        </div>
                                                                        <div class="forms_field">
                                                                                <input type="password"
                                                                                        placeholder="Password"
                                                                                        name="password"
                                                                                        class="forms_field-input"
                                                                                        required />
                                                                        </div>
                                                                </fieldset>
                                                                <div class="forms_buttons">
                                                                        {{!-- <button type="button"
                                                                                class="forms_buttons-forgot">
                                                                                Forgot password?
                                                                        </button> --}}
                                                                        <input type="submit" value="Log In"
                                                                                class="forms_buttons-action" />
                                                                </div>
                                                        </form>
                                                </div>
                                                <div class="user_forms-signup">
                                                        <h2 class="forms_title">Sign Up</h2>
                                                        <form class="forms_form" action="/signup" method="POST"
                                                                novalidate>
                                                                <fieldset class="forms_fieldset">
                                                                        <div class="forms_field">
                                                                                <input type="text" name="username"
                                                                                        placeholder="Full Name"
                                                                                        class="forms_field-input"
                                                                                        required />
                                                                        </div>
                                                                        <div class="forms_field">
                                                                                <input type="email" placeholder="Email"
                                                                                        name="email"
                                                                                        class="forms_field-input"
                                                                                        required />
                                                                        </div>
                                                                        <div class="forms_field">
                                                                                <input type="password"
                                                                                        placeholder="Password"
                                                                                        name="password"
                                                                                        class="forms_field-input"
                                                                                        required />
                                                                        </div>
                                                                </fieldset>
                                                                <div class="forms_buttons">
                                                                        <input type="submit" value="Sign up"
                                                                                class="forms_buttons-action" />
                                                                </div>
                                                        </form>
                                                </div>
                                        </div>
                                </div>
                        </section>
                </div>
        </div>

        <div>
                <marquee direction="left" speed="normal" behavior="loop" class="marquee">
                        Welcome To Outer Space..
                </marquee>
        </div>
</div>