<main>
  <section class="slides">
    <section class="slides-nav"></section>
    <section id="sec3" class="slide is-active">
      <div class="slide__content">
        <figure class="slide__figure">
          <div class="slide__img" style="
              background: url(https://wallup.net/wp-content/uploads/2016/01/18775-Carlsberg-space-advertisements-stars-moon-astronaut-beer-Earth.jpg);
              background-size: cover;
            "></div>
        </figure>
        <header class="slide__header">
          <h2 class="slide__title">
            <span class="title-line">
              <a href="/api/imagesByName" style="text-decoration: none; color: inherit;">Gallery</a>
            </span>
            <span class="title-line">
              <br>
              <form action="/api/imagesByName" method="POST" style="margin-bottom:1.3rem">

                </style>
                <input style="width: 75%; height:7%; " type="text" name="searchInput"
                  placeholder='ex: sun,earth,mars...'>
                <div>

                  <button style="margin-top:1rem" class="search-button" id="btn">Search</button>
                </div>

              </form>
            </span>
            <span class="title-line">
              <p style="font-size: 0.3em;">
                “Sun, Earth, March, Aliens,, you name it!”
              </p>
            </span>
          </h2>
        </header>
      </div>
    </section>
  </section>
  </section>
</main>