<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="/stylesheets/style2.css" />
</head>

<body>
  {{{body}}}
  <div class="navbar" style="left:10rem">
    <ul>
      <li>
        <a href="/profile/profile">
          Profile</a>
      </li>
      <li>
        <a href="/api/api">
          Home</a>
      </li>
      <li>
        <a href="/api/imagesByName">
          Gallery</a>
      </li>
      <li>
        <a href="/api/rovers">
          Rovers</a>
      </li>
      <li>
        <a href="/api/picDay">
          APOD</a>
      </li>
      <li>
        <a href="/api/astroids">
          Asteroids</a>
      </li>
      <li>

    </ul>

  </div>
  <script src="/javascripts/script2.js"></script>
</body>

</html>